{% extends 'base.html.twig' %}

{% block title %}All Cultures{% endblock %}

{% block pageheader %}
    <h1>All Cultures</h1>
    <p class="count">
        Displaying {{ civilizations|length }} civilizations of {{ civilizations.getTotalItemCount }} total.
    </p>
 {% endblock %}


{% block admin %}
    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('civilization_new') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> New
            </a>
            <a href="{{ path('civilization_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>
{% endblock %}

{% block body %}
    {% include 'partial/term-table.html.twig' with {'items': civilizations} %}
{% endblock %}
