{% extends 'base.html.twig' %}

{% block title %}All Cultures{% endblock %}

{% block pageheader %}
    <h1>All Cultures</h1>
    <p class="count">
        Displaying {{ civilizations|length }} civilizations of {{ civilizations.getTotalItemCount }} total.
    </p>
{% endblock %}


{% block action_buttons %}
    <a href="{{ path('civilization_new') }}" class="btn btn-light">
        <span class="bi bi-plus-lg"></span> New
    </a>
    <a href="{{ path('civilization_search') }}" class="btn btn-light">
        <span class="bi bi-search"></span> Search
    </a>
{% endblock %}

{% block body %}
    {% include 'partial/term-table.html.twig' with {'items': civilizations} %}
{% endblock %}
