{% extends 'popup.html.twig' %}

    {% block title %}New Civilization {% endblock %}

    {% block body %}
        <h1>New Civilization</h1>

        {% embed 'civilization/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
