{% extends 'base.html.twig' %}

{% block title %}Culture Details {% endblock %}

 {% block pageheader %}
     <h1>Culture: {{ civilization.label }}</h1>
 {% endblock %}

{% block admin %}
    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('civilization_edit', {'id': civilization.id }) }}" class="btn btn-default">
                <span class="glyphicon glyphicon-edit"></span> Edit
            </a>
        </div>
        <div class='btn-group'>
            <form class='delete-form' method="post" action="{{ path('civilization_delete', {'id': civilization.id }) }}"
                  onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token("delete" ~ civilization.id) }}">
                <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>
            </form>
        </div>
    </div>
{%  endblock %}


{% block body %}
    {% include 'partial/basic-list.html.twig' %}
{% endblock %}
