{% extends 'base.html.twig' %}

{% block title %}Circa Date List{% endblock %}

{% block pageheader %}
    <h1>Circa Date List</h1>
    <p class="count">
        Displaying {{ circa_dates|length }} circa_dates of {{ circa_dates.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    {% embed 'circa_date/partial/table.html.twig' %}
    {% endembed %}

    <div class="navigation">
        {{ knp_pagination_render(circa_dates) }}
    </div>

{% endblock %}
