{% extends 'base.html.twig' %}

{% block title %}Circa Date Details {% endblock %}

 {% block pageheader %}
     <h1>Circa Date Details</h1>
 {% endblock %}

{% block body %}

    {% embed 'circa_date/partial/detail.html.twig' %}
    {% endembed %}

{% endblock %}
