{% extends 'base.html.twig' %}

{% block title %}Inscription Styles{% endblock %}

{% block pageheader %}
    <h1>Inscription Styles</h1>
    <p class="count">
        Displaying {{ inscription_styles|length }} styles of {{ inscription_styles.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block action_buttons %}
    <a href="{{ path('inscription_style_new') }}" class="btn btn-light">
        <span class="bi bi-plus-lg"></span> New
    </a>
    <a href="{{ path('inscription_style_search') }}" class="btn btn-light">
        <span class="bi bi-search"></span> Search
    </a>
{% endblock %}

{% block body %}
    {% include 'partial/term-table.html.twig' with {'items': inscription_styles} %}
{% endblock %}
