
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

# PHP Storm
/.idea

# Composer installed
/templates/jquery.collection.html.twig
/public/js/jquery.collection.js

# Yarn installed
/public/yarn

# Uploads and other data
/data
deploy.yaml
