includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    tmpDir: var/cache/phpstan
    level: 6
    paths:
        - src
        - tests
        - migrations
    excludePaths:
        - src/Kernel.php
        - tests/*/data/*
        - tests/bootstrap.php
    treatPhpDocTypesAsCertain: false
    checkUninitializedProperties: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    checkMissingCallableSignature: true
    dynamicConstantNames:
        - App\Tests\Controller\CategoryTest::ANON_RESPONSE_CODE
        - App\Tests\Controller\CivilizationTest::ANON_RESPONSE_CODE
        - App\Tests\Controller\ImageTest::ANON_RESPONSE_CODE
        - App\Tests\Controller\InscriptionStyleTest::ANON_RESPONSE_CODE
        - App\Tests\Controller\ItemTest::ANON_RESPONSE_CODE
        - App\Tests\Controller\LanguageTest::ANON_RESPONSE_CODE
        - App\Tests\Controller\LocationTest::ANON_RESPONSE_CODE
        - App\Tests\Controller\MaterialTest::ANON_RESPONSE_CODE
        - App\Tests\Controller\PeriodTest::ANON_RESPONSE_CODE
        - App\Tests\Controller\RemoveImageTest::ANON_RESPONSE_CODE
        - App\Tests\Controller\SubjectTest::ANON_RESPONSE_CODE
        - App\Tests\Controller\TechniqueTest::ANON_RESPONSE_CODE
