
/* Some basic index styles */

@mixin homepage(){
    .home-main {
      display: flex;
      width: 100%;
      justify-content: space-between;

      > div {
        width: 50%;
        display:flex;
        flex-direction:column;
        h1 {
          font-size: ms(4);
          line-height: 1;
          margin-bottom: ms(2);
        }
      }

      img {
        height:100%;
        width:100%;
        max-height: 600px;
        margin-left:auto;
        transform: skew(2deg);
      }
    }

  .home-search{
    @include full-width-in-container;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/search-bg.jpg');

    .home-search-container{
      padding: ms(1) 20px;
      color:white;
      h2{
        margin:0;
      }

      .home-search-input{
        width:100%;
        input{
          width:80%;
        }
      }
    }
  }


}



