$heading-font: 'Crimson Text';
$body-font: "Nunito Sans";
$ms-base: 1rem;
$ms-ratio: $phi;
$modscale-start: 3;
$ndm-gold: #C0B283;
$ndm-light-gold: #E7DED1;
$ndm-grey: #E5E5E5;
$ndm-black: black;
$ndm-white: #ffffff;
$nav-height:50px;
$ndm-img-height: 350;
$ndm-img-width: 450;


$base-text-color: $ndm-black;

/*Hamburger stuff */
$hamburger-types: (collapse);
$hamburger-layer-height: $nav-height / 13;
$hamburger-layer-spacing: $nav-height/ 8;
$hamburger-layer-color: $ndm-white;

/*Breadcrumb stuff */
$breadcrumb-arrow-color: $ndm-light-gold;
$breadcrumb-hover-color:$ndm-light-gold;
$breadcrumb-arrow-width: 2px;
$breadcrumb-current-background: $ndm-grey;


@mixin ndm-link{
  text-decoration:none!important;
  border-bottom-style: solid;
  border-bottom-width: ms(-3);
  border-bottom-color: rgba($ndm-gold, 0.5);
  transition: border-bottom-color 0.2s ease-in-out;
  color:inherit;
  &:hover{
    color:inherit;
    border-bottom-color:rgba($ndm-gold, 0.8)
  }
}