$heading-font: 'Crimson Text';
$body-font: "Nunito Sans";
$ms-base: 1rem;
$ms-ratio: $phi;
$modscale-start: 3;
$ndm-gold: #C0B283;
$ndm-light-gold: #E7DED1;
$ndm-grey: #E5E5E5;
$ndm-white: #ffffff;
$nav-height:50px;
$ndm-img-height: 350;
$ndm-img-width: 450;
