/*
 * Base SCSS stylesheet for the Manuscript Verse Miscellanies
 * Database.
 *
 * @author: Joey Takeda (DHIL)
 * @date: 2020
 */

/**
* Namespaces
*
**/
@use 'sass:map';
@use 'sass:math';
@use 'sass:color';
@use 'sass:list';

/**
* Imports
*
* Note that it's necessary to call the mixins _scss first. When we do put this into production,
* we'll have a yarn package for the DHIL mixins that we can download using yarn.
**/

@import '../yarn/roy/scss/roy.scss';
@import '_fonts.scss';
@import '_variables.scss';
@import '../yarn/hamburgers/_sass/hamburgers/hamburgers.scss';
@import '_index.scss';

@include dhil-headers;
@include dhil-reset;


html, body, .dropdown-menu {
  font-family: $body-font;
}

body{
  background-color: $ndm-white;
}

main{
  margin-top: ms(2);
}

/*Container override */
/*
@media (max-width: 992px){
  .container {
    width: calc(100vw - #{ms(2)});
  }
} */


@include dhil-make-navbar($ndm-nav-background-color, $ndm-black){
  .navbar-nav{
    & > li {
      & > a,
      & > a:hover{
        color: $ndm-black;
      }
    }
  }
  /* Have to add the min-width hiding again */
  @media (min-width: 768px){
    .navbar-toggle {
      display: none;
    }
  }
};


@include dhil-body-nav() {
  margin-bottom: ms(1);
  align-items:flex-end;
};

@include dhil-breadcrumb();






/**************************** Page Header */

.item_show{

  .page-header{
    display:none;
  }

  @media (min-width: 768px) {
    .container {
      width:unset;
      padding-left: 45px;
      padding-right:45px;

    }
  }


  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      width:1170px;
      padding-left: 15px;
      padding-right:15px;
    }
  }
}


.item_show .content{
  display:grid;
  margin-top:ms(1);
  grid-template-areas:
          "header images"
          "description images"
          "metadata images";
  grid-template-columns: auto minmax(calc(var(--thumb-width) * 0.5), var(--thumb-width));
  grid-column-gap: ms(2);

  &.imageless{
    grid-template-areas:
            "header"
            "description"
            "metadata";
    grid-template-columns:100%;
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
  }

  & > .header{
    grid-area: header;
  }
  & > .description{
    grid-area:description;
  }
  & > .images{
    grid-area: images;
  }
  & > .metadata{
    grid-area:metadata;
  }

  @media (max-width: 991px) {
      grid-template-areas:
        "header images"
        "description images"
        "metadata metadata";

  }

  @media (max-width: 767px){
    grid-template-areas:
      "header"
      "images"
      "description"
      "metadata";
    grid-template-columns:100%;
  }
}


.item-header{
  h1{
    margin-top:0;
  }
  h1, h2, h3{
    margin-bottom:0;
  }

  h2, h3{
    margin-top: ms(-1);
    color: lighten($ndm-black, 10%);
  }

  a{
    @include ndm-removeLink;
  }

}

.item-description{
  margin-top: ms(1);
  padding-right:2rem;
  @media (max-width:768px){
    padding-right:0;
  }
  p:last-child{
    br:last-child{
      display:none;
    }
  }
}

p + br{
  display:none;
}


// Now the content


/* Item details list */

.item-details-list{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  > * {
    margin-right: ms(1);
    margin-bottom: ms(0);
    @media (max-width: 768px){
      margin-top:0;
    }
  }
  .details > &{
    margin-top: 0;
  }
}


/*
 * Specific item details
 *
 */

.item-details{
  display:flex;
  flex: 1 1 clamp(14.5rem, 40%, 100%);
  flex-direction:column;
  padding: ms(-1) ms(-1);
  //Details header

  &__header{
    text-transform: uppercase;
    font-variant: small-caps;
    font-size: 0.9rem;
    color:$ndm-dark-grey;
    margin-bottom:ms(-2);
    font-weight:bold;
    letter-spacing:0px;
    font-family: $body-font;
    margin-top:0;
    .accordion__content &{
      margin-bottom: ms(-1);
    }
  }

  //Details content
  &__content {
    ul {
      @include dhil-tags();

      li {
        margin-bottom:ms(-2);
        margin-right: ms(-1);
        margin-top:0;
        color: inherit;
        border: none;
        border: 1px solid $ndm-beige;
        border-radius: 2px;
        background: color.scale($ndm-beige, $lightness: 85%);
        & > a {
          color: $ndm-black;
          text-decoration: none !important;
          border-bottom: none;
          padding: ms(-2) ms(-1);
          border-radius:3px;
          display:flex;
          flex-direction:column;
        }
        .badge{
          display:none;
        }
        &:hover {

          background: color.scale($ndm-beige, $lightness: 50%);
        }

      }
    }
  }

  &__note{
    &:not(:first-child){
      margin-top: 8px;
      margin-right: ms(0);
      font-size: 0.95rem;
    }
    p{
      line-height: 1.3;
    }
    p:last-child{
      margin-bottom:0;
    }
  }

  /* Value specific listing */

  //Subjects are tags
  &__subjects{
    border:none;
    flex-basis: 100%;
  }
  &__dimensions{
    p{
      margin-bottom:0;
    }
  }

  &__references{
    p{
      text-indent: -1rem;
      margin-left: 1rem;
      line-height:1.45;
    }
  }

  //Condition based:

  // Control how we display unfilled fields.
  &.hasContent{
    &-false{
      display:none;
      flex-basis: 100%;
    }
  }

  //Control how items with notes span grid columns
  &.hasNote{
    &-true{
    }
  }
}




@include dhil-details-accordion();

.accordion__content{
  margin:0 ms(-1);
}

summary{
  padding: ms(0);
  text-transform: uppercase;
  font-variant:small-caps;
  font-size: 1rem;
  font-weight:500;
  background-color: transparentize($ndm-grey, 0.2);
  transition: background-color 0.2s ease(in-out-quad);
  .icon{
    float:right;
    clear:both;
    display:inline-block;
    transform: translate(0, 0);
    transition: transform 0.3s ease(in-out-quad);
    margin-right: calc(#{ms(-1)} + 4px);
    svg{
      height: ms(0);
      width: ms(0);
    }
  }
}

details {
  box-shadow: $tw-box-shadow;
  flex-basis: 100%;
  flex-shrink:0;
  &[aria-expanded='false'] {
    summary:hover {
      background-color: transparentize($ndm-grey, 0.1);
      &:not(:focus) .icon {
          animation: gesture-left;
          animation-duration: 1s;
          animation-timing-function: ease(in-out-quad);
          animation-iteration-count: 1;
      }
    }
  }

  &[aria-expanded='true']{
    summary{
      background-color: $ndm-grey;
    }
    .icon{
      transform: rotate(90deg);
    }
  }

  > div {
    padding: ms(0) ms(-1);
  }
}

.item-inscription__body{
  margin: 0 ms(-2);
  & > div:nth-of-type(n +2){
    margin-top:ms(1);
  }
  .item-inscription__header{
    border-bottom: 1px solid $ndm-grey;
    padding-bottom: ms(-1);
    margin-bottom:ms(-1);

    h4{
      font-family: $body-font;
      font-size: ms(0);
      font-weight:bold;
      text-transform:uppercase;
      font-variant: small-caps;
      color: lighten($ndm-black, 30%);
      margin:0;
    }
    ul{
      display:flex;
      justify-content:space-between;
      font-size: 0.95em;
      margin-top:ms(-2);
    }
  }

}

.item-inscription__content{
    &.greek{
      font-family: $greek-font;
    }
}

// And the images

.images{
  margin:0 auto;
  width:100%;
  @media (max-width: 767px){
    margin: ms(0) 0;
  }
}

.sticky{
  $top: $nav-height + ms(-1);
  $padding-v: ms(-1);
  $padding-h: ms(-1);
  top: $top;
  position:sticky;
  margin:0 auto;
  padding:$padding-v $padding-h;
  @media (max-width: 767px){
    padding: 0 ms(-2);
  }
}

.img-content{
  border:1px solid $ndm-grey;
  border-radius:2px;
  @media (max-width: 768px){
    position:static;
    overflow-x:hidden;
  }
}


.img-license{
  svg{
    height:1rem;
    width: 1rem;
  }
}

.glider-dot{
  color: $ndm-grey;
  background:$ndm-grey;
  &.active, &:hover, &:focus{
    background: $ndm-beige;
  }
}

.image-slider-container{
  display:flex;
}

.image-slider:not(.glider){
   margin:0 auto;
}


.slider-btn{
  margin: 0;
  background: none;
  border: none;
  display:inline-block;
  svg{
    width:ms(1);
    height:ms(1);
    fill: $ndm-gold;
    stroke: $ndm-gold;
  }
  &:hover{
    svg{
      fill:$ndm-gold;
    }
  }
  &-next{
    // Re-order the next btn so that it follows the main image carousel
    order:3;
  }
  &.disabled{
    pointer-events:none;
    svg{
      fill:$ndm-grey;
    }
  }
}




.image-slider{
  @include dhil-remove-scrollbar();
  .item{
    width:100%;
    flex-shrink:0;
    display:flex;
    flex-direction:column;
    > div{
      margin:0 auto;
    }
    img{
      cursor: zoom-in;
      background:inherit;
    }
  }
}

.img-thumbnail{
  border:none;
  box-shadow:none;
}


.img-container{
  a{
    border:none;
    transition:none;
    display:block;
    height:100%;
    width:100%;
  }
}

.img-desc{
  font-size: ms(0) * 0.8;
}



body.viewer-open main{
  padding-right: 15px;
}


/* GALLERY STUFF */
@include dhil-gallery('gallery', 3, ms(0), ms(0));
.gallery .item{
  display:flex;
  flex-direction:column;
  text-align:center;
  margin-bottom: ms(0);
  box-shadow: $tw-box-shadow;
}

img{
  max-width:100%;
  height:auto;
  &.placeholder{
    max-width:6rem;
  }
}

.item-card{
  height:100%;
  border:1px solid transparent;
  transition:border 0.2s ease-in-out;
  display:flex;
  flex-direction:column;
  &:hover{
    border-color: $ndm-gold;
  }
}

.item-img-wrapper{
  margin:auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-content-wrapper{
  margin-top: auto;
  margin-left: ms(0);
  margin-right: ms(0);
}

.item-content{
  margin-bottom:ms(0);
}

.item-content-header{
    $this-font-size: ms(0);
    $this-line-height: 1.15;
    $this-max-lines: 2;
    width:100%;
    text-align:center;
    font-size: $this-font-size;
    font-family: $body-font;
    font-weight:600;
    color: $ndm-black;
    line-height: $this-line-height;
    text-align:center;
    height: $this-font-size * $this-line-height * $this-max-lines;

    @include dhil-clamp-lines($this-max-lines, $this-font-size, $this-line-height, true);
}




.subject-item{
  margin-bottom: ms(1);
}

.subject-item-header{
  font-size: ms(1) * 1.25;
}



/* Badges */
.badge{

  font-size: 0.8rem;
  background-color: $ndm-grey;
  color: color.adjust($ndm-grey, $lightness: -50%);
}


/* Pagination */

@include dhil-pagination('circular');


/* Footer */

footer{
  margin-top:ms(1);
  position:relative;
  background:#F3F4F5;
  .wave {
    height: clamp(5vw, 10vw, 100px);
    overflow-y: hidden;
    > svg {
      position: relative;
      top: -8vw;
      path{
        fill: #F3F4F5;
      }

    }
  }
}


/**************************** Links */
a{
  @include ndm-link();
}

footer, header, nav{
  a{
    border:none;
    transition:none;
  }
}




a[href ^= 'mailto:']::after {
  content: "\2709";
  position: relative;
  top: 1px;
  display: inline-block;
  padding-left: 0.5ex;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a[href ^= 'http://']::after,
a[href ^= 'https://']::after {
  content: "\e164";
  position: relative;
  top: 1px;
  display: inline-block;
  padding-left: 0.5ex;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Menu bar styling */
a.dropdown-toggle::after {
  content: "▾";
  padding-left: 0.3em;
  font-size: small;
}




/* Custom app styles */

label.required::after {
  content: ' *';
  color: red;
  font-weight: bold;
}


/* Now include the homepage */

.homepage{
  @include homepage();
}
