/*
 * Base SCSS stylesheet for the Manuscript Verse Miscellanies
 * Database.
 *
 * @author: Joey Takeda (DHIL)
 * @date: 2020
 */

/**
* Namespaces
*
**/
@use 'sass:map';
@use 'sass:math';
@use 'sass:color';
@use 'sass:list';

/**
* Imports
*
* Note that it's necessary to call the mixins _scss first. When we do put this into production,
* we'll have a yarn package for the DHIL mixins that we can download using yarn.
**/

@import '../yarn/roy/scss/roy.scss';
@import '_fonts.scss';
@import '_variables.scss';
@import '../yarn/hamburgers/_sass/hamburgers/hamburgers.scss';


@include dhil-headers;
@include dhil-reset;


html, body, .dropdown-menu {
  font-family: $body-font;
}

@include dhil-make-navbar($ndm-gold, $ndm-white){
  text-transform:uppercase;
  .navbar-nav{
    & > li {
      & > a:hover {
        color: $ndm-white;
      }
    }
  }
  /* Have to add the min-width hiding again */
  @media (min-width: 768px){
    .navbar-toggle {
      display: none;
    }
  }
};

.item_show .content{
  display:grid;
  &.imageless{
    grid-template-columns: auto!important;
  }
  @media (min-width: 767px){
    grid-template-columns: 1fr 1fr;
    grid-column-gap: ms(2);
  }
  @media(max-width: 767px){
    grid-row-gap: ms(2);
    .images{
      grid-row: 1;
    }
  }
}

.content{
    a{
      @include ndm-link();
    }
}

.details .subjects{
    ul{
      @include dhil-tags();
      li{
        background: $ndm-light-gold;
        &:hover{
          background: $ndm-gold;
          & > a{
            color:white;
            border-color: $ndm-light-gold;
          }
        }
        & > a{
          margin: ms(-2);
          border:2px solid white;
          color:black;
          padding:ms(-2) ms(-1);
        }
      }

    }

  }



.images{
  margin:0 auto;
  .img-content{
    top: rem($nav-height) + ms(-1);
    position:sticky;
    margin:0 auto;
  }
}


/* GALLERY STUFF */
@include dhil-gallery('gallery', 3, ms(1), ms(1));
.gallery .item{
  display:flex;
  flex-direction:column;
  text-align:center;
  margin-bottom: ms(0);
  img{
    max-width:100%;
  }
  > a {
    height:100%;
    border:1px solid rgba($ndm-light-gold, 0.5);
    transition:border 0.2s ease-in-out;
    padding:ms(0);
    &:hover{
      border-color: $ndm-gold;
    }
    display:flex;
    flex-direction:column;
    text-decoration:none!important;
    > div{
        margin-top:auto;
        &:first-child{
          margin-bottom:auto;
          padding-bottom: ms(0);
        }
       &.item-content-wrapper{
          border-top: 5px solid #efefef;
          border-top-style: outset;

       }
    }
  }

  h2{
    width:100%;
    padding:ms(0) ms(-1);
    text-align:center;
    font-size: ms(0);
    font-family: $body-font;
    font-weight:300;
    color: black;
    line-height:1.4;
    text-align:left;
    margin-top:auto;
    margin-bottom: ms(-1);
  }
}

@include dhil-lazyload($ndm-img-height, $ndm-img-width);


.subject-item{
  margin-bottom: ms(1);
  h2{
    font-size: ms(1) * 1.25;
  }
}




a.zoomable{
  cursor: zoom-in;
  img{
    transform: scale(1);
  }

  &:hover{
    img{
      transform: scale(1.01);
    }
  }
}

dt{
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: ms(1);
  margin-bottom:ms(-3);
  font-weight:500;
  letter-spacing:2px;
}

dd{
  margin-bottom: ms(1);
}






/* Carousel */

#carousel{
  .carousel-inner{
    height:100%;
  }
  .img-thumbnail{
    border:none;
  }
  .carousel-control{
    display:none;
  }
  .carousel-indicators{
    li{
      border-color: $ndm-gold;
      &.active{
        background-color: $ndm-gold;
      }
    }

  }
}


/* Footer */

footer{
  background:#F3F4F5;
  margin-top:ms(1);
  &:before{
    content:" ";
    background-image: url('../images/footer.svg');
    height:ms(3);
    overflow:hidden;
    display:block;
  }
  & > div.container{
    position:relative;
  }
}

/* Menu bar styling */
a.dropdown-toggle::after {
  content: "▾";
  padding-left: 0.3em;
  font-size: small;
}


/* Custom app styles */

label.required::after {
  content: ' *';
  color: red;
  font-weight: bold;
}

a[href ^= 'mailto:']::after {
  content: "\2709";
  position: relative;
  top: 1px;
  display: inline-block;
  padding-left: 0.5ex;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a[href ^= 'http://']::after,
a[href ^= 'https://']::after {
  content: "\e164";
  position: relative;
  top: 1px;
  display: inline-block;
  padding-left: 0.5ex;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

tbody tr th {
  width: 20%;
}


