@charset "UTF-8";
/*
 * Base SCSS stylesheet for the Manuscript Verse Miscellanies
 * Database.
 *
 * @author: Joey Takeda (DHIL)
 * @date: 2020
 */
/**
* Namespaces
*
**/
/**
* Imports
*
* Note that it's necessary to call the mixins _scss first. When we do put this into production,
* we'll have a yarn package for the DHIL mixins that we can download using yarn.
**/
/* Mixins file, which we should try and use globally across DHIL projects,
since there's stuff I tend to do quite a bit.
 */
/**
* Namespaces
*
**/
/* Make sure to import the modularscale-sass library */
/* Take, with thanks, from:
https://css-tricks.com/snippets/sass/px-to-em-functions/
 */
/* Taken, with thanks, from:
https://makandracards.com/makandra/42500-sass-how-to-convert-an-rgba-color-to-its-rgb-look-alike
 */
/*
Take with thanks from:
https://css-tricks.com/snippets/sass/easing-map-get-function/
 */
/* DEFAULTS */
/* Note to be called directly, but just to reset everything */
/* @dhil-headers
 *
 * Standard header creation from a typescale
 */
/* @dhil-reset
 *
 * Adds a number of resets that are common across the dhil
 */
/* @dhil-make-navbar
 *
 * Resets and customizes the navbar
 */
/* @dhil-gallery
 *
 * Creates a standard gallery view (note that we used to do this with flex,
 * but grid is much better for handling variable numbers of objects)
 */
/* @dhil-clamp-lines
 *
 * Clamps lines at a particular vertical line length with a fallback for unsupported
 * browsers.
 */
/* @dhil-lazyload
 *
 * Basic adjustments for images that are loaded lazily.
 *
 */
/* 'Nunito Sans' normal 200*/
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 200;
  src: local("Nunito Sans ExtraLight"), local("NunitoSans-ExtraLight"), url("/digital-mary/public/fonts/NunitoSans-ExtraLight-200.woff2") format("woff2"), url("/digital-mary/public/fonts/NunitoSans-ExtraLight-200.woff") format("woff");
}
/* 'Nunito Sans' normal 300*/
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Nunito Sans Light"), local("NunitoSans-Light"), url("/digital-mary/public/fonts/NunitoSans-Light-300.woff2") format("woff2"), url("/digital-mary/public/fonts/NunitoSans-Light-300.woff") format("woff");
}
/* 'Nunito Sans' italic 200*/
@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 200;
  src: local("Nunito Sans ExtraLight Italic"), local("NunitoSans-ExtraLightItalic"), url("/digital-mary/public/fonts/NunitoSans-ExtraLightItalic-200.woff2") format("woff2"), url("/digital-mary/public/fonts/NunitoSans-ExtraLightItalic-200.woff") format("woff");
}
/* 'Nunito Sans' italic 300*/
@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 300;
  src: local("Nunito Sans Light Italic"), local("NunitoSans-LightItalic"), url("/digital-mary/public/fonts/NunitoSans-LightItalic-300.woff2") format("woff2"), url("/digital-mary/public/fonts/NunitoSans-LightItalic-300.woff") format("woff");
}
/* 'Nunito Sans' normal 400*/
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Nunito Sans Regular"), local("NunitoSans-Regular"), url("/digital-mary/public/fonts/NunitoSans-Regular-400.woff2") format("woff2"), url("/digital-mary/public/fonts/NunitoSans-Regular-400.woff") format("woff");
}
/* 'Nunito Sans' italic 400*/
@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 400;
  src: local("Nunito Sans Italic"), local("NunitoSans-Italic"), url("/digital-mary/public/fonts/NunitoSans-Italic-400.woff2") format("woff2"), url("/digital-mary/public/fonts/NunitoSans-Italic-400.woff") format("woff");
}
/* 'Nunito Sans' normal 700*/
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Nunito Sans Bold"), local("NunitoSans-Bold"), url("/digital-mary/public/fonts/NunitoSans-Bold-700.woff2") format("woff2"), url("/digital-mary/public/fonts/NunitoSans-Bold-700.woff") format("woff");
}
/* 'Nunito Sans' italic 700*/
@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 700;
  src: local("Nunito Sans Bold Italic"), local("NunitoSans-BoldItalic"), url("/digital-mary/public/fonts/NunitoSans-BoldItalic-700.woff2") format("woff2"), url("/digital-mary/public/fonts/NunitoSans-BoldItalic-700.woff") format("woff");
}
/* 'Nunito Sans' normal 800*/
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Nunito Sans ExtraBold"), local("NunitoSans-ExtraBold"), url("/digital-mary/public/fonts/NunitoSans-ExtraBold-800.woff2") format("woff2"), url("/digital-mary/public/fonts/NunitoSans-ExtraBold-800.woff") format("woff");
}
/* 'Nunito Sans' italic 800*/
@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 800;
  src: local("Nunito Sans ExtraBold Italic"), local("NunitoSans-ExtraBoldItalic"), url("/digital-mary/public/fonts/NunitoSans-ExtraBoldItalic-800.woff2") format("woff2"), url("/digital-mary/public/fonts/NunitoSans-ExtraBoldItalic-800.woff") format("woff");
}
/* 'Nunito Sans' normal 900*/
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 900;
  src: local("Nunito Sans Black"), local("NunitoSans-Black"), url("/digital-mary/public/fonts/NunitoSans-Black-900.woff2") format("woff2"), url("/digital-mary/public/fonts/NunitoSans-Black-900.woff") format("woff");
}
/* 'Nunito Sans' italic 900*/
@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 900;
  src: local("Nunito Sans Black Italic"), local("NunitoSans-BlackItalic"), url("/digital-mary/public/fonts/NunitoSans-BlackItalic-900.woff2") format("woff2"), url("/digital-mary/public/fonts/NunitoSans-BlackItalic-900.woff") format("woff");
}
/* 'Crimson Text' normal 400*/
@font-face {
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: 400;
  src: local("Crimson Text Regular"), local("CrimsonText-Regular"), url("/digital-mary/public/fonts/CrimsonText-Regular-400.woff2") format("woff2"), url("/digital-mary/public/fonts/CrimsonText-Regular-400.woff") format("woff");
}
/* 'Crimson Text' italic 400*/
@font-face {
  font-family: "Crimson Text";
  font-style: italic;
  font-weight: 400;
  src: local("Crimson Text Italic"), local("CrimsonText-Italic"), url("/digital-mary/public/fonts/CrimsonText-Italic-400.woff2") format("woff2"), url("/digital-mary/public/fonts/CrimsonText-Italic-400.woff") format("woff");
}
/* 'Crimson Text' normal 600*/
@font-face {
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: 600;
  src: local("Crimson Text SemiBold"), local("CrimsonText-SemiBold"), url("/digital-mary/public/fonts/CrimsonText-SemiBold-600.woff2") format("woff2"), url("/digital-mary/public/fonts/CrimsonText-SemiBold-600.woff") format("woff");
}
/* 'Crimson Text' italic 600*/
@font-face {
  font-family: "Crimson Text";
  font-style: italic;
  font-weight: 600;
  src: local("Crimson Text SemiBold Italic"), local("CrimsonText-SemiBoldItalic"), url("/digital-mary/public/fonts/CrimsonText-SemiBoldItalic-600.woff2") format("woff2"), url("/digital-mary/public/fonts/CrimsonText-SemiBoldItalic-600.woff") format("woff");
}
/* 'Crimson Text' normal 700*/
@font-face {
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: 700;
  src: local("Crimson Text Bold"), local("CrimsonText-Bold"), url("/digital-mary/public/fonts/CrimsonText-Bold-700.woff2") format("woff2"), url("/digital-mary/public/fonts/CrimsonText-Bold-700.woff") format("woff");
}
/* 'Crimson Text' italic 700*/
@font-face {
  font-family: "Crimson Text";
  font-style: italic;
  font-weight: 700;
  src: local("Crimson Text Bold Italic"), local("CrimsonText-BoldItalic"), url("/digital-mary/public/fonts/CrimsonText-BoldItalic-700.woff2") format("woff2"), url("/digital-mary/public/fonts/CrimsonText-BoldItalic-700.woff") format("woff");
}
/*Hamburger stuff */
/*Breadcrumb stuff */
@font-face {
  font-family: "Athena Ruby";
  src: url("../assets/athena_ruby/athenaruby_b018-webfont.eot");
  src: url("../assets/athena_ruby/athenaruby_b018-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/athena_ruby/athenaruby_b018-webfont.woff2") format("woff2"), url("../assets/athena_ruby/athenaruby_b018-webfont.woff") format("woff"), url("../assets/athena_ruby/athenaruby_b018-webfont.ttf") format("truetype"), url("../assets/athena_ruby/athenaruby_b018-webfont.svg#athena_rubyregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #807e7b;
}

.hamburger-box {
  width: 40px;
  height: 1.5024038462rem;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -0.1201923077rem;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 0.2403846154rem;
  background-color: #807e7b;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -0.6310096154rem;
}
.hamburger-inner::after {
  bottom: -0.6310096154rem;
}

/*
 * Collapse
 */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse .hamburger-inner::after {
  top: -1.2620192308rem;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -0.6310096154rem, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}
.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* Some basic index styles */
h1 {
  /* It'd be nice to use scss:max() here, but
  PHP storm raises an erroneously raises an error.
   */
  font-size: 2.6180340252rem;
  font-family: "Crimson Text";
  letter-spacing: -2px;
}
h1 > a {
  line-height: 1.4;
}

h2 {
  /* It'd be nice to use scss:max() here, but
  PHP storm raises an erroneously raises an error.
   */
  font-size: 1.618034rem;
  font-family: "Crimson Text";
}
h2 > a {
  line-height: 1.4;
}

h3 {
  /* It'd be nice to use scss:max() here, but
  PHP storm raises an erroneously raises an error.
   */
  font-size: 1rem;
  font-family: "Crimson Text";
}
h3 > a {
  line-height: 1.4;
}

h4 {
  /* It'd be nice to use scss:max() here, but
  PHP storm raises an erroneously raises an error.
   */
  font-size: 1rem;
  font-family: "Crimson Text";
}
h4 > a {
  line-height: 1.4;
}

h5 {
  /* It'd be nice to use scss:max() here, but
  PHP storm raises an erroneously raises an error.
   */
  font-size: 1rem;
  font-family: "Crimson Text";
}
h5 > a {
  line-height: 1.4;
}

html, body {
  font-size: 1rem;
  line-height: 1.6;
}

/*Always hide x overflow */
body {
  overflow-x: hidden;
}

main {
  min-height: calc(90vh - 3.125rem);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 1.6;
}

html, body, .dropdown-menu {
  font-family: "Nunito Sans";
}

main {
  margin-top: 2.6180340252rem;
}

/*Container override */
@media (max-width: 992px) {
  .container {
    width: calc(100vw - 2.6180340252rem);
  }
}
.navbar-default {
  min-height: 3.125rem;
  /* Change the width to 100vw rather than 100%, since 100% causes
     jump behaviour when overflow-y on the body is set to hidden
   */
  width: 100vw;
  padding-right: 10px;
  /* Set the background colour */
  background: #f3efe8;
  box-shadow: none !important;
  border: none !important;
  text-transform: uppercase;
  /* Have to add the min-width hiding again */
  /* Reset the fixed-top to be sticky rather than fixed,
     so to avoid the problem with fixed position things overlapping
   */
  /* Switch the text colour */
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover {
  color: #333;
}
@media (min-width: 768px) {
  .navbar-default .navbar-toggle {
    display: none;
  }
}
.navbar-default.navbar-fixed-top {
  position: sticky !important;
}
.navbar-default .navbar-header {
  margin-left: 0;
  margin-right: 0;
}
.navbar-default .navbar-nav > li > a {
  color: #333;
}

.body-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0.3819660059rem;
  align-items: end;
  margin-bottom: 1.618034rem;
}
.body-nav > * {
  margin-bottom: 0.6180339845rem;
}
.body-nav .btn-toolbar {
  margin-top: -1px;
}

.breadcrumbs {
  list-style: none;
  overflow: hidden;
  padding: 0;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 300;
  font-size: 12px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
}

.breadcrumbs li > * {
  text-decoration: none;
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  color: black;
  padding: 0.5em 0 0.5em 4em;
}

/*
* Now create the various triangles
* that will overlap; this is the
* common stuff between the two
* triangles
*/
.breadcrumbs li > *:before,
.breadcrumbs li > *:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  border-left-width: 30px;
  border-left-style: solid;
}

.breadcrumbs li:not(:last-child) > *:before {
  /*And make sure the zindex is 1*/
  z-index: 1;
  /*This should be the colour
  you want the arrow*/
  border-left-color: #E7DED1;
  /*The margin left here dictates the width of the arrow*/
  margin-left: 2px;
}

.breadcrumbs li > *:after {
  /*Z index should be 2 to overlap*/
  z-index: 2;
  /*BORDER LEFT should be the
  same as the background colour*/
  border-left-color: white;
}

/*Now small, project specific
paddings etc*/
.breadcrumbs li:first-child > * {
  padding: 0 0 0 1rem;
}

.breadcrumbs li > *,
.breadcrumbs li > *:after,
.breadcrumbs li > *:before {
  transition: all 0.2s ease-in-out;
}

.breadcrumbs li:last-child {
  background: #E5E5E5;
}

.breadcrumbs li:not(:last-child) > *:hover {
  background: #E7DED1;
}
.breadcrumbs li:not(:last-child) > *:hover:after, .breadcrumbs li:not(:last-child) > *:hover:before {
  border-left-color: #E7DED1;
}

.breadcrumbs .current {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  margin: 0 1rem 0 0;
  font-style: italic;
  max-width: 25ch;
}
li > .breadcrumbs .current {
  color: rgba(0, 0, 0, 0.8);
}

.breadcrumbs li:last-child > *:after,
.breadcrumbs li:last-child > *:before {
  content: unset;
}

/* Media query to reset the size of things */
@media (max-width: 780px) {
  .current {
    max-width: 25ch;
  }
}
/**************************** Page Header */
.page-header {
  border-bottom: none;
  margin-top: 0;
}
.item_show .page-header {
  margin: 0;
  padding-bottom: 0;
}

@media (min-width: 769px) {
  .mobile-header {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
    white-space: nowrap;
  }
}

@media (max-width: 768px) {
  .full-view-header {
    display: none;
  }
}

.item_show .content {
  display: grid;
  margin-top: 1.618034rem;
}
.item_show .content h1 {
  margin-top: 0;
  margin-bottom: 1.618034rem;
}
.item_show .content.imageless {
  grid-template-columns: auto !important;
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .item_show .content {
    grid-template-columns: auto minmax(calc(var(--thumb-width) * 0.75), var(--thumb-width));
    grid-column-gap: 2.6180340252rem;
  }
}
@media (max-width: 768px) {
  .item_show .content {
    grid-row-gap: 1.618034rem;
    grid-template-columns: 1fr;
  }
  .item_show .content .images {
    grid-row: 1;
    display: flex;
    padding: 1rem 0;
    width: 100%;
    overflow-x: hidden;
  }
}

:root {
  --accordion-easing: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  --accordion-duration: 0.3s;
}

details summary {
  list-style: none;
}
details summary::-webkit-details-marker {
  display: none;
}
details.accordion .accordion__content {
  transition: opacity var(--accordion-duration) var(--accordion-easing);
}
details.accordion[aria-expanded=false] > .accordion__content {
  opacity: 0;
}
details.accordion[aria-expanded=true] > .accordion__content {
  opacity: 1;
}

details {
  margin-bottom: 1.618034rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.accordion__content {
  margin: 0 0.6180339845rem;
}

summary {
  padding: 0.6180339845rem 0.6180339845rem;
  background-color: rgba(229, 229, 229, 0.5);
  transition: background-color 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
summary .icon {
  float: right;
  clear: both;
  display: inline-block;
  transform: translate(0, 0);
  transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  margin-right: calc(0.6180339845rem + 4px);
}
summary .icon svg {
  height: 1rem;
  width: 1rem;
}

details[aria-expanded=false] summary:hover {
  background-color: rgba(229, 229, 229, 0.75);
}
details[aria-expanded=false] summary:hover .icon {
  transform: translate(4px, 0);
}
details[aria-expanded=true] summary {
  background-color: #E5E5E5;
}
details[aria-expanded=true] .icon {
  transform: translate(4px, 0) rotate(-90deg);
}

details > div {
  padding: 1rem 0.6180339845rem;
}

dt, summary {
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 1.618034rem;
  margin-bottom: 0.2360679726rem;
  font-weight: 500;
  letter-spacing: 0px;
}

dd {
  margin-bottom: 1.618034rem;
}
dd p {
  margin-right: 2.6180340252rem;
}

.references p {
  text-indent: -1rem;
  margin-left: 1rem;
  line-height: 1.45;
}

.item-inscription__body {
  margin: 0 0.3819660059rem;
}
.item-inscription__body > div:nth-of-type(n +2) {
  margin-top: 1.618034rem;
}
.item-inscription__body .item-inscription__header {
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 0.6180339845rem;
  margin-bottom: 0.6180339845rem;
}
.item-inscription__body .item-inscription__header h4 {
  font-family: "Nunito Sans";
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: lowercase;
  font-variant: small-caps;
  color: gray;
  margin: 0;
}
.item-inscription__body .item-inscription__header ul {
  display: flex;
  justify-content: space-between;
  font-size: 0.95em;
  margin-top: 0.3819660059rem;
}

.item-inscription__content.greek {
  font-family: "Athena Ruby";
}

.images {
  margin: 0 auto;
  width: 100%;
}

.sticky {
  top: 3.7430339845rem;
  position: sticky;
  margin: 0 auto;
  padding: 0.6180339845rem 0.6180339845rem;
}

.img-content {
  background: #FDFBF8;
  border-radius: 0.2360679726rem;
}
@media (max-width: 768px) {
  .img-content {
    position: static;
    overflow-x: hidden;
  }
}

.image-preview {
  display: flex;
  list-style-type: unset;
  margin-left: 0;
  height: 3rem;
  overflow-y: hidden;
  padding-left: 0;
}
.image-preview > li {
  flex: 1;
  display: block;
  border-right: 2px solid #FDFBF8;
}
.image-preview > li:first-child > a {
  border-top-left-radius: 0.1458980297rem;
  border-bottom-left-radius: 0.1458980297rem;
}
.image-preview > li:last-child > a {
  border-top-right-radius: 0.1458980297rem;
  border-bottom-right-radius: 0.1458980297rem;
}

a.preview-link {
  border: none;
  display: block;
  height: 100%;
  width: 100%;
  color: inherit;
  background: var(--img) no-repeat center center;
  transition: none;
  /* Add a hover effect */
}
a.preview-link:after {
  content: "";
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0.3;
  background: #1a1a1a;
  transition: opacity 0.2s ease-in-out;
}
a.preview-link.active:after {
  opacity: 0;
}

.image-slider-container {
  display: flex;
}

.slider-btn {
  margin: 0;
  background: none;
  border: none;
  display: inline-block;
  transition: opacity 0.2s ease-in-out;
  opacity: 0.9;
}
.slider-btn:focus {
  outline: #C0B283 1px auto;
}
.slider-btn:hover {
  opacity: 1;
}
.slider-btn-prev {
  padding-right: 1rem;
  margin-right: 1rem;
}
.slider-btn-next {
  order: 3;
  padding-left: 1rem;
  margin-left: 1rem;
}
.slider-btn-next > img {
  transform: scale(-1, 1);
  transform-origin: center;
}
.slider-btn.disabled {
  pointer-events: none;
  opacity: 0.3;
}

.image-slider {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}
.image-slider::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.image-slider .item {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
.image-slider .item > div {
  margin: 0 auto;
}
.image-slider .item img {
  cursor: zoom-in;
  background: inherit;
  max-width: 100%;
}

.img-thumbnail {
  border: none;
  box-shadow: none;
}

.img-container a {
  border: none;
  transition: none;
  display: block;
  height: 100%;
  width: 100%;
}

.img-desc {
  font-size: 0.8rem;
}

.subjects ul {
  list-style-type: none;
  display: flex;
  color: red;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-items: center;
}
.subjects ul > li {
  margin-top: 0.3819660059rem;
  margin-bottom: 0.3819660059rem;
  margin-right: 0.3819660059rem;
  transition: border-color 0.2s ease-in-out, background 0.2s ease-in-out, color 0.2s ease-in-out;
}
.subjects ul > li > a {
  padding: 0.3819660059rem 0.3819660059rem;
  display: inline-block;
  transition: border-color 0.2s ease-in-out, background 0.2s ease-in-out, color 0.2s ease-in-out;
}
.subjects ul > li > a:hover {
  text-decoration: none;
}
.subjects ul li {
  background: #E7DED1;
  font-size: 1rem;
  margin: 0.1458980297rem;
}
.subjects ul li:hover {
  background: #C0B283;
}
.subjects ul li:hover > a {
  color: #ffffff;
  border-color: #E7DED1;
}
.subjects ul li > a {
  margin: 0.2360679726rem;
  border: 2px solid #ffffff;
  color: #333;
  padding: 0.2360679726rem 0.3819660059rem;
}

body.viewer-open main {
  padding-right: 15px;
}

/* GALLERY STUFF */
.gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}
.gallery > .item {
  grid-column: span 4;
}
@media (max-width: 991px) {
  .gallery > .item {
    grid-column: span 5;
  }
}
@media (max-width: 768px) {
  .gallery > .item {
    grid-column: span 6;
  }
}

.gallery .item {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.gallery .item img {
  max-width: 100%;
}
.gallery .item img.placeholder {
  max-width: 6rem;
}

.item-card {
  height: 100%;
  border: 1px solid transparent;
  transition: border 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
}
.item-card:hover {
  border-color: #C0B283;
}

.item-img-wrapper {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-content-wrapper {
  margin-top: auto;
  margin-left: 1rem;
  margin-right: 1rem;
}

.item-content {
  margin-bottom: 1rem;
}

.item-content-header {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-family: "Nunito Sans";
  font-weight: 600;
  color: #333;
  line-height: 1.15;
  text-align: center;
  height: 2.3rem;
  overflow: hidden;
  height: 2.3rem;
  /* But if -webkit-box is available, then we can use the much nicer -webkit-line-clamp,
   * which provides ellipses when truncated */
}
.item-content-header else {
  max-height: 2.3rem;
}
@supports (display: -webkit-box) {
  .item-content-header {
    max-height: unset;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.subject-item {
  margin-bottom: 1.618034rem;
}

.subject-item-header {
  font-size: 2.0225425rem;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
}
.pagination > li {
  border-radius: 0;
  border: none;
  float: none;
  color: #333;
  background-color: inherit;
}
.pagination > li > a, .pagination > li > span {
  border-radius: 0;
  border: none;
  float: none;
  color: #333;
  background-color: inherit;
}
.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
  border-radius: 0;
  border: none;
  float: none;
  color: #333;
  background-color: inherit;
}
.pagination > li.active, .pagination > li:hover, .pagination > li:focus {
  border-radius: 0;
  border: none;
  float: none;
  color: #333;
  background-color: inherit;
}
.pagination > li.active > a, .pagination > li.active > span, .pagination > li:hover > a, .pagination > li:hover > span, .pagination > li:focus > a, .pagination > li:focus > span {
  border-radius: 0;
  border: none;
  float: none;
  color: #333;
  background-color: inherit;
}
.pagination > li.active > a:hover, .pagination > li.active > a:focus, .pagination > li.active > span:hover, .pagination > li.active > span:focus, .pagination > li:hover > a:hover, .pagination > li:hover > a:focus, .pagination > li:hover > span:hover, .pagination > li:hover > span:focus, .pagination > li:focus > a:hover, .pagination > li:focus > a:focus, .pagination > li:focus > span:hover, .pagination > li:focus > span:focus {
  border-radius: 0;
  border: none;
  float: none;
  color: #333;
  background-color: inherit;
}
.pagination > li {
  margin: 0 0.1458980297rem;
  height: 3rem;
  width: 3rem;
}
.pagination > li.active > a.page-link:not(.btn) {
  background: #e0e0e0;
}
.pagination > li.disabled {
  color: #CCC;
  pointer-events: none;
  cursor: not-allowed;
}
.pagination > li.disabled > .page-link {
  background: #f1efef;
}
.pagination > li > a.page-link:not(.btn) {
  border: 2px solid #efefef;
  height: 3rem;
  width: 3rem;
  border-radius: 3rem;
  transition: border-color 0.2s ease-in-out;
}
.pagination > li > a.page-link:not(.btn) > .page-label {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}
.pagination > li:not(.disabled) > a.page-link:not(.btn):hover {
  border-radius: 3rem;
  border-color: #ccc !important;
}

/* Footer */
footer {
  margin-top: 1.618034rem;
  position: relative;
  background: #F3F4F5;
}
footer .wave {
  height: clamp(5vw, 10vw, 100px);
  overflow-y: hidden;
}
footer .wave > svg {
  position: relative;
  top: -8vw;
}
footer .wave > svg path {
  fill: #F3F4F5;
}

/**************************** Links */
a {
  text-decoration: none !important;
  border-bottom-style: solid;
  border-bottom-width: 0.2360679726rem;
  border-bottom-color: rgba(192, 178, 131, 0.5);
  transition: border-bottom-color 0.2s ease-in-out;
  color: inherit;
}
a:hover {
  color: inherit;
  border-bottom-color: rgba(192, 178, 131, 0.8);
}

footer a, header a, nav a {
  border: none;
  transition: none;
}

a[href^="mailto:"]::after {
  content: "✉";
  position: relative;
  top: 1px;
  display: inline-block;
  padding-left: 0.5ex;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a[href^="http://"]::after,
a[href^="https://"]::after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  padding-left: 0.5ex;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Menu bar styling */
a.dropdown-toggle::after {
  content: "▾";
  padding-left: 0.3em;
  font-size: small;
}

/* Custom app styles */
label.required::after {
  content: " *";
  color: red;
  font-weight: bold;
}

/* Now include the homepage */
.homepage .home-main {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.homepage .home-main > div {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.homepage .home-main > div h1 {
  font-size: 6.8541021569rem;
  line-height: 1;
  margin-bottom: 2.6180340252rem;
}
.homepage .home-main img {
  height: 100%;
  width: 100%;
  max-height: 600px;
  margin-left: auto;
  transform: skew(2deg);
}
.homepage .body-nav {
  display: none;
}
.homepage .home-search {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/search-bg.jpg");
}
.homepage .home-search .home-search-container {
  padding: 1.618034rem 20px;
  color: white;
}
.homepage .home-search .home-search-container h2 {
  margin: 0;
}
.homepage .home-search .home-search-container .home-search-input {
  width: 100%;
  color: black;
}
.homepage .home-search .home-search-container .home-search-input input {
  width: 80%;
}

/*# sourceMappingURL=ndm.css.map */
