{% extends 'base.html.twig' %}

{% block title %}Remote Image Details {% endblock %}

 {% block pageheader %}
    <h1>Remote Image Details</h1>
 {% endblock %}

{% block body %}

    {% embed 'remote_image/partial/detail.html.twig' %}
    {% endembed %}

{% endblock %}
