{% extends 'base.html.twig' %}

{% block title %}Remote Image Details {% endblock %}

 {% block pageheader %}
    <h1>Remote Image Details</h1>
 {% endblock %}

{% block action_buttons %}
    <a href="{{ path('item_edit_remote_image', {'id': remote_image.item.id, 'remote_image_id': remote_image.id}) }}" class="btn btn-light col">
        <span class="bi bi-pencil-square"></span> Edit</a>
    <form class='delete-form col' method="post" action="{{ path('item_delete_remote_image', {'id': remote_image.item.id, 'remote_image_id': remote_image.id}) }}"
        onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token("delete" ~ remote_image.id) }}">
        <button class="btn btn-danger w-100"><span class="bi bi-trash"></span> Delete</button>
    </form>
{% endblock %}

{% block body %}

    {% embed 'remote_image/partial/detail.html.twig' %}
    {% endembed %}

{% endblock %}
