{% extends 'base.html.twig' %}

{% block title %}Materials{% endblock %}

{% block pageheader %}
    <h1>Materials</h1>
    <p class="count">
        Displaying {{ materials|length }} materials of {{ materials.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block action_buttons %}
    <a href="{{ path('material_new') }}" class="btn btn-light">
        <span class="bi bi-plus-lg"></span> New
    </a>
    <a href="{{ path('material_search') }}" class="btn btn-light">
        <span class="bi bi-search"></span> Search
    </a>
{% endblock %}

{% block body %}
    {% include 'partial/term-table.html.twig' with {'items': materials} %}
{% endblock %}
