{% extends 'popup.html.twig' %}

    {% block title %}New Material {% endblock %}

    {% block body %}
        <h1>New Material</h1>

        {% embed 'material/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
