{% extends 'base.html.twig' %}

{% block title %}Image List{% endblock %}

{% block pageheader %}
    <h1>Image List</h1>
    <p class="count">
        Displaying {{ images|length }} images of {{ images.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar'>
        <div class='btn-group'>
            <a href="{{ path('image_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>
    <div class='clearfix'></div>

    {% embed 'image/partial/list.html.twig' with {'images': images } %}
    {% endembed %}

    {% embed 'image/partial/image_modal.html.twig' %}
    {% endembed %}


    <div class="navigation">
        {{ knp_pagination_render(images) }}
    </div>

{% endblock %}
