{% extends 'base.html.twig' %}

{% block title %}All Periods{% endblock %}

{% block pageheader %}
    <h1>All Periods</h1>
    {% include 'partial/count.html.twig'
        with {'index': periods, 'label': 'periods'} %}
{% endblock %}


{% block admin %}
    <div class='btn-toolbar'>
        <div class='btn-group'>
            <a href="{{ path('period_new') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> New
            </a>
        </div>
    </div>
{% endblock %}


{% block body %}
    {% include 'partial/term-table.html.twig' with {'items': periods} %}
{% endblock %}
