{% extends 'base.html.twig' %}

{% block title %}All Periods{% endblock %}

{% block pageheader %}
    <h1>All Periods</h1>
    {% include 'partial/count.html.twig' with {'index': periods, 'label': 'periods'} %}
{% endblock %}


{% block action_buttons %}
    <a href="{{ path('period_new') }}" class="btn btn-light">
        <span class="bi bi-plus-lg"></span> New
    </a>
{% endblock %}


{% block body %}
    {% include 'partial/term-table.html.twig' with {'items': periods} %}
{% endblock %}
