    {% extends 'base.html.twig' %}

    {% block title %}New Period {% endblock %}

    {% block body %}
    <h1>New Period</h1>

    {% embed 'period/partial/form.html.twig' %}
    {% endembed %}

    {% endblock %}

    {% block javascripts %}
    {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
