{% extends 'base.html.twig' %}

{% block title %}All Categories{% endblock %}

{% block pageheader %}
    <h1>All Categories</h1>
    {% include 'partial/count.html.twig' with {'index': categories, 'label': 'categories'} %}
{% endblock %}


{% block action_buttons %}
    <a href="{{ path('category_new') }}" class="btn btn-light">
        <span class="bi bi-plus-lg"></span> New
    </a>
    <a href="{{ path('category_search') }}" class="btn btn-light">
        <span class="bi bi-search"></span> Search
    </a>
{% endblock %}


{% block body %}
    {% include 'partial/term-table.html.twig' with {'items': categories} %}
{% endblock %}
