{% set display = 3 %}

{% for subject in subjects %}
    <div class="subject-item">
        <h2 class="subject-item-header"><a
                    href="{{ path('subject_show', { 'id': subject.id }) }}">{{ subject.label }}</a></h2>
        <div class="subject-desc">
            {% if subject.description %}
                {{ subject.description|raw }}
            {% else %}
                <p>No description available.</p>
            {% endif %}
        </div>
        {# {% if subject.items|length > 0 %}
            {% set sorted = subject.items|sort((a,b) => a.images|length < b.images|length) %}
            {% set subset = sorted|slice(0, display) %}
            {% embed 'item/partial/list.html.twig' with {'items': subset} %}
                {% block callback %}
                    {% if subject.items|length > display %}
                        {% include 'item/partial/gallery-item.html.twig'
                            with {'path': path('subject_show', { 'id': subject.id }),
                            'img': asset('images/plus.svg')} %}
                    {% endif %}
                {% endblock %}
            {% endembed %}
        {% endif %} #}

    </div>
{% endfor %}