{% extends 'base.html.twig' %}
{% import 'dhil-macros.html.twig' as dhil %}

{% block mainclass %}{% endblock %}

{% block body %}
    <section class="home-main">
        <div class="home-main__container">
            <div class="container">
                <div class="home-header">
                    <h1>
                        <div>The</div>
                        <div>Digital Mary</div>
                        <div>Project</div>
                    </h1>
                </div>
                <div class="home-desc">
                    <p>The Digital Mary Project is a Mariological resource dedicated to the collection and curation of
                        the material culture related to Virgin Mary. Our primary objective is to build a comprehensive
                        open-access database that brings all of the artistic productions, artefacts, and built
                        landscapes related to the early Cult of the Virgin in the Eastern Mediterranean together into
                        an easily-searchable digital platform.</p>
                </div>
            </div>

            {#
            <div class="home-img">
                <img src="{{ asset('images/home.svg') }}"/>
            </div>
            #}

        </div>
            <span class="scroll-down-btn">{{ dhil.bs_icon('chevron-down') }}</span>
    </section>

    <section class="home-search">
        <div class="home-search-container container">
            <h2>Search the Archive</h2>
            <div class="home-search-desc">
                <p>Some sort of description here...</p>
            </div>
            <div class="home-search-input">
                <form  id="indexSearch" method="GET">
                    {% set searches = ['item', 'subject', 'technique', 'material', 'location', 'civilization'] %}
                    <select>
                        {% for search in searches %}
                            <option value="{{ path(search~'_search') }}">{{ search|capitalize }}</option>
                        {% endfor %}
                    </select>
                    <input name="q" type="text"/>
                    <button>GO</button>
                </form>
            </div>
            <div class="home-search-links">
                <a>Advanced Search</a>
            </div>
        </div>
    </section>

    <section class="items">
        <div style="height: 100vh">
            <h3>SOMEThing gOES HERE RIGHT</h3>
            {% include 'item/partial/list.html.twig' %}
        </div>

    </section>


    <!--
  -->



{% endblock %}


{% block javascripts %}
    <script src="https://unpkg.com/scrollreveal"></script>
    <script>
        ScrollReveal().reveal('.home-search-container', {
            distance: '100%',
            origin: 'bottom',
            opacity: 0,
            delay: 200,
            duration: 2000
        });
    </script>
{% endblock %}