{% extends 'base.html.twig' %}

{% block title %}Subject List{% endblock %}

{% block pageheader %}
    <h1>Subjects</h1>
    {% include 'partial/count.html.twig'
        with {'index': subjects, 'label': 'subjects'} %}
 {% endblock %}


{% block admin %}
    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
                <a href="{{ path('subject_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New
                </a>
        </div>
    </div>
{% endblock %}


{% block body %}

    {% include('partial/search-form.html.twig') with {'path': path('subject_search')} %}

    <section>
        {% include('subject/partial/list.html.twig') %}
    </section>

    <div class="navigation">
        {{ knp_pagination_render(subjects) }}
    </div>

{% endblock %}
