{% extends 'base.html.twig' %}

{% block title %}Subject List{% endblock %}

{% block pageheader %}
    <h1>Subjects</h1>
    {% include 'partial/count.html.twig' with {'index': subjects, 'label': 'subjects'} %}
{% endblock %}

{% block action_buttons %}
    <a href="{{ path('subject_new') }}" class="btn btn-light">
        <span class="bi bi-plus-lg"></span> New
    </a>
{% endblock %}


{% block body %}
    {% include 'partial/term-table.html.twig' with {'items': subjects} %}
{% endblock %}
