{% extends 'base.html.twig' %}

{% block title %}Subject Search{% endblock %}

 {% block pageheader %}
     <h1>Subject Search</h1>
     {% if subjects|length %}
         <p class="count">
             Displaying {{ subjects|length }} subjects of {{ subjects.getTotalItemCount }} total.
         </p>
     {% endif %}
 {% endblock %}

{% block body %}

    {% include 'partial/search-form.html.twig' %}

        <div class="navigation">
            {{ knp_pagination_render(subjects) }}
        </div>
    {% endif %}

{% endblock %}

