{% extends 'base.html.twig' %}

{% block title %}Techniques{% endblock %}

{% block pageheader %}
    <h1>Techniques</h1>
    <p class="count">
        Displaying {{ techniques|length }} techniques of {{ techniques.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block admin %}
    <div class='btn-toolbar'>
        <div class='btn-group'>
            <a href="{{ path('technique_new') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> New
            </a>
            <a href="{{ path('technique_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>
{% endblock %}

{% block body %}
    {% include 'partial/term-table.html.twig' with {'items': techniques} %}
{% endblock %}
