{% extends 'base.html.twig' %}

{% block title %}Techniques{% endblock %}

{% block pageheader %}
    <h1>Techniques</h1>
    <p class="count">
        Displaying {{ techniques|length }} techniques of {{ techniques.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block action_buttons %}
    <a href="{{ path('technique_new') }}" class="btn btn-light">
        <span class="bi bi-plus-lg"></span> New
    </a>
    <a href="{{ path('technique_search') }}" class="btn btn-light">
        <span class="bi bi-search"></span> Search
    </a>
{% endblock %}

{% block body %}
    {% include 'partial/term-table.html.twig' with {'items': techniques} %}
{% endblock %}
