{% extends 'base.html.twig' %}

{% block title %}Technique Details {% endblock %}

 {% block pageheader %}
     <h1>Technique Details</h1>
 {% endblock %}

{% block admin %}
    <div class='btn-toolbar'>
        <div class='btn-group'>
            <a href="{{ path('technique_edit', {'id': technique.id }) }}" class="btn btn-default">
                <span class="glyphicon glyphicon-edit"></span> Edit
            </a>
        </div>
        <div class='btn-group'>
            <form class='delete-form' method="post" action="{{ path('technique_delete', {'id': technique.id }) }}"
                  onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token("delete" ~ technique.id) }}">
                <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block body %}
    {% include 'partial/basic-list.html.twig' %}
{% endblock %}
