{% if items|length > 0 %}
    <div class="gallery{{ (app.request.get('page') is not null) ? ' noanimate' : ' animate' }}">
        {% for item in items %}
            {% include 'item/partial/gallery-item.html.twig' with {'item': item} %}
        {% endfor %}
        {% block callback %}{% endblock %}
    </div>

    {% if items.currentPageNumber is defined %}
        <div class="navigation">
            {{ knp_pagination_render(items) }}
        </div>
    {% endif %}
{% endif %}
