{% import 'partial/icons.html.twig' as icons %}

<details class="details {% block class %}{% endblock %}"{%- if open is defined and open %} open="open"{% endif %}>
    <summary>{% block summary %}{% endblock %} <span class="icon">{{ icons.get('chevron_right') }}</span></summary>
    {% block content %}
    {% endblock %}
</details>