{% import 'dhil-macros.html.twig' as dhil %}
{% import 'item/partial/detail.html.twig' as  dl %}

{% set iconToUse = 'chevron-right'%}

{% if icon is defined %}
    {% set iconToUse = icon %}
{% endif %}

<details class="details {% block class %}{% endblock %}"{%- if open is defined and open %} open="open"{% endif %}>
    <summary>{% block summary %}{% endblock %} <span class="icon">{{ dhil.bs_icon(iconToUse) }}</span></summary>
    {% block content %}
    {% endblock %}
</details>