{% extends 'base.html.twig' %}

{% block title %}Edit Image {% endblock %}

{% block body %}
    <h1>Edit Image</h1>

    <div class='panel panel-default'>
        <div class='panel-heading'>Current Image</div>
        <div class='panel-body'>
            <img src="{{ path('image_thumbnail', {'id': image.id}) }}" class="img-thumbnail img-responsive center-block" />
        </div>
    </div>

    {% embed 'image/partial/form.html.twig' %}
    {% endembed %}

{% endblock %}

{% block javascripts %}
    {% include '@NinesEditor/editor/widget.html.twig' %}
{% endblock %}
