{% extends 'base.html.twig' %}

{% block title %}All Items{% endblock %}

{% block pageheader %}
    <h1>All Items</h1>
    {% include 'partial/count.html.twig' with {
        'index':items,
        'label': 'items'
    } %}
{% endblock %}

{% block breadcrumb %}
    {% include 'partial/breadcrumb.html.twig' with {
        'content': [['Items']]

    } %}
{% endblock %}

{% block admin %}
    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('item_new') }}" class="btn btn-default"> <span class="glyphicon glyphicon-plus"></span>
                    New </a>
            {% endif %}

            <a href="{{ path('item_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search </a>
        </div>
    </div>
{%  endblock %}

{% block body %}
    {% include 'item/partial/list.html.twig' %}
    <div class="navigation">
        {{ knp_pagination_render(items) }}
    </div>
{% endblock %}
