{% extends 'base.html.twig' %}

{% block title %}All Items{% endblock %}

{% block pageheader %}
    <h1>All Items</h1>
    {% include 'partial/count.html.twig' with {
        'index': items,
        'label': 'items'
    } %}
{% endblock %}

{% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('item_new') }}" class="btn btn-light"> <span class="bi bi-plus-lg"></span>
            New </a>
    {% endif %}
    <a href="{{ path('item_search') }}" class="btn btn-light">
        <span class="bi bi-search"></span> Search </a>
{% endblock %}


{% block body %}
    {% include 'item/partial/list.html.twig' %}
{% endblock %}
